.td-center {
  text-align: center;
  vertical-align: middle;
}

.bar-mass > .MuiLinearProgress-barColorPrimary {
  background-color: #7fc8fd;
}

.bar-class > .MuiLinearProgress-barColorPrimary {
  background-color: #ff98a4;
}

.app-content--inner {
  padding: 2rem 1rem 2rem;
}
