.td-center {
  text-align: center;
  vertical-align: middle;
}

.td-right {
  text-align: right;
  vertical-align: middle;
}

.bar-mass > .MuiLinearProgress-barColorPrimary {
  background-color: #7fc8fd;
}

.bar-class > .MuiLinearProgress-barColorPrimary {
  background-color: #ff98a4;
}

.app-content--inner {
  padding: 2rem 1rem 2rem;
}

.td--active {
  cursor: pointer;
}

.td--active:hover {
  color: var(--primary);
}

.tr--active {
  cursor: pointer;
}

.tr--active:hover td {
  color: var(--primary);
}

.tr-student {
  position: relative;
}

.tr-student__new-student::after {
  position: absolute;
  content: "";
  background-color: #239600;
  top: 0;
  left: 0;
  width: 25px;
  height: 100%;
}

.tr-student__absent::after {
  position: absolute;
  content: "";
  background-color: #f4772e;
  top: 0;
  left: 0;
  width: 25px;
  height: 100%;
}

.tr-student__change-church::after {
  position: absolute;
  content: "";
  background-color: #f83245;
  top: 0;
  left: 0;
  width: 25px;
  height: 100%;
}

.td-student {
  position: relative;
}

.td-student__team-leader {
  position: absolute;
  width: 30px;
  top: -6px;
  right: 0;
  border-top-left-radius: 3px;
  z-index: 100;
  box-shadow: 0 0.5rem 1rem rgba(7, 9, 25, 0.55);
  height: 50%;
  background-color: currentColor;
  color: #f83245;
}

.td-student__team-leader::before {
  position: absolute;
  content: "";
  height: 6px;
  width: 0;
  right: -1.5px;
  top: 0.1px;
  border-bottom: 3px solid currentColor;
  border-right: 3px solid currentColor;
  border-top-right-radius: 3px;
}

.td-student__team-leader::after {
  position: absolute;
  content: "";
  width: 30px;
  bottom: -15px;
  left: 0;
  border-left: 15px solid currentColor;
  border-right: 15px solid currentColor;
  border-bottom: 15px solid transparent;
}
